body {
  margin: 0;
  padding: 0;
  font-family: "Sekuya", system-ui;
}

:root {
  --primary-color: #5276ec;
  --secondry-color: #9ce8f2;
}

.bg {
  background-image: url(120128.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -2;
}
.form {
  padding: 120px;
  background-color: #9ce8f2;
  height: 400px;
  width: 500px;
  border-radius: 20px;
  justify-content: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.form h1 {
  padding: 10px;
  margin: auto;
  background-color: #5276ec;
  width: 260px;
  border-radius: 10px;
  justify-content: center;
  font-size: medium;
}
.form label {
  padding: 2px;
  
  margin: auto;
}
.form input {
  padding: 6px;
  width: 200px;
  height: 50px;
  position: relative;
  margin-left: 150px;
  top: 200px;
  display: flex;
  background-color: green;
  box-shadow: 1px 0px 50px;
  border: none;
  border-radius: 20px;
  font-size: 30px;
}
.form button {
  width: 120px;
  height: 40px;
  font-size: large;
  position: relative;
  top: 220px;
  left: 200px;
  box-shadow: 0p;
  background-color: #5276ec;
  border: none;
  border-radius: 20px;
}
