body {
  margin: 0;
  padding: 0;
  font-family: "Sekuya", system-ui;
}

:root {
  --primary-color: #5276ec;
  --secondry-color: #9ce8f2;
}

.bg {
  background-image: url(120128.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -2;
}
.form {
  padding: 120px;
  background-color: #9ce8f2;
  height: 400px;
  width: 500px;
  border-radius: 20px;
  justify-content: center;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.form h1 {
  padding: 10px;
  margin: auto;
  background-color: #7797ff;
  width: 260px;
  border-radius: 10px;
  justify-content: center;
  font-size: medium;
}
.form #result {
  background: none;
  font-family: "Sekuya", system-ui ;
  background-color: #7797ff;
  width: 200px;
  height: 50px;
}
.form label {
  padding: 2px;
  margin: auto;
  position: relative;
  top: 90px;
  left: 140px;
}
.form input {
  padding: 6px;
  width: 200px;
  height: 50px;
  position: relative;
  margin-left: 140px;
  top: 200px;
  display: flex;
  background-color: rgb(79, 123, 154);
  box-shadow: 1px 0px 20px #0ca691;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  outline: 2px solid rgb(11, 94, 211);
}
.form button {
  width: 120px;
  height: 40px;
  font-size: large;
  position: relative;
  top: 220px;
  left: 200px;
  box-shadow: 0p;
  background-color: #5276ec;
  border: none;
  border-radius: 20px;
  font-family: "Sekuya", system-ui ;
}
